Section 10: conflict with a MUST NOT in RFC8914

, making it unclear the
> strength of this instruction for compatible servers - I recommend
> using an explicit MAY, SHOULD or MUST term here instead of the
> ambiguous can. 2) (issue) regardless of the term used, the
> implication that the presence of an EDE option can indeed alter
> DNS processing behaviour on the server is in conflict with the
> MUST NOT directive in section 6 of RFC8194, which section 10 of
> this draft says still apply to this document. If this section 6
> does indeed intend to override the MUST NOT security
> considerations of section 6 in RFC8194 and allow a situation where
> EDE can alter DNS processing behaviour for RPZ servers that should
> be explicitly stated (both in this section) and also in the later
> security considerations section. 

[Med] Good point. That MUST NOT was motivated because "EDE information is unauthenticated information" . 

This spec requires: "The response MUST be received over an encrypted DNS channel."

We need to better articulate the text in Section 10.
