Requesting with EDE option is underspecified

The draft currently says this:

> When generating a DNS query, the client includes the Extended DNS Error option Section 2 of [RFC8914] in the OPT pseudo-RR [RFC6891] to elicit the Extended DNS Error option in the DNS response.

What exactly should a client put in this for a request?

```
     0   1   2   3   4   5   6   7   8   9   0   1   2   3   4   5
   +---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
0: |                            OPTION-CODE                        |
   +---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
2: |                           OPTION-LENGTH                       |
   +---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
4: | INFO-CODE                                                     |
   +---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
6: / EXTRA-TEXT ...                                                /
   +---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
```

I could imagine the following approaches:
1. Set option code to 15 and option length to 0. However, RFC8914 says that the length "should be 2 plus the length of the EXTRA-TEXT field".
2. Set option code to 15 and option length to 2 and info code to 0. However, RFC8914 says "Implementations SHOULD include an EXTRA-TEXT value to augment this error code with additional information.".
3. Set option code to 15 and option length to 2 and info code to something other than 0, but there isn't a good option for requests.

I think option 1 makes most sense, but we need to clarify that in the text and explain that it is OK to have an empty option.

An empty option (your #1) is all we need.  RFC8914 has that "2 plus" because the INFO-CODE is mandatory in RFC8914 for responses.

As RFC8914 only defines its EDNS0 option for responses (in its last paragraph of its Section 2), and we are needing this for signaling in requests, we could re-define the whole thing for requests, such that INFO-CODE is optional in requests and its presence is indicated by length >= 2.  We might want to allow INFO-CODE to appear in requests so it can be a future extension for other signaling?  Something like:

  " The client MUST signaling its support for this specification by including the EDE EDNS0 option in its DNS request and SHOULD use an option-length of 0 (that is, omitting INFO-CODE and EXTRA-TEXT from [RFC8914]). "

-d


> On Mar 30, 2023, at 2:13 AM, Tommy Pauly ***@***.***> wrote:
> 
> 
> The draft currently says this:
> 
> When generating a DNS query, the client includes the Extended DNS Error option Section 2 of [RFC8914] in the OPT pseudo-RR [RFC6891] to elicit the Extended DNS Error option in the DNS response.
> 
> What exactly should a client put in this for a request?
> 
>      0   1   2   3   4   5   6   7   8   9   0   1   2   3   4   5
>    +---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
> 0: |                            OPTION-CODE                        |
>    +---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
> 2: |                           OPTION-LENGTH                       |
>    +---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
> 4: | INFO-CODE                                                     |
>    +---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
> 6: / EXTRA-TEXT ...                                                /
>    +---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
> I could imagine the following approaches:
> 
> Set option code to 15 and option length to 0. However, RFC8914 says that the length "should be 2 plus the length of the EXTRA-TEXT field".
> Set option code to 15 and option length to 2 and info code to 0. However, RFC8914 says "Implementations SHOULD include an EXTRA-TEXT value to augment this error code with additional information.".
> Set option code to 15 and option length to 2 and info code to something other than 0, but there isn't a good option for requests.
> I think option 1 makes most sense, but we need to clarify that in the text and explain that it is OK to have an empty option.
> 
> —
> Reply to this email directly, view it on GitHub <https://github.com/ietf-wg-dnsop/draft-ietf-dnsop-structured-dns-error/issues/14>, or unsubscribe <https://github.com/notifications/unsubscribe-auth/ABNZQVGT7X5HDIHC6GT4KRTW6VFBZANCNFSM6AAAAAAWM76BSU>.
> You are receiving this because you are subscribed to this thread.
> 



Addressed the above comment from Tommy.